.row {
  margin: auto 0;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
  .caption {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: fade-out($gray-900, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    .caption-content {
      color: $white;
      margin: auto 2rem 2rem;
      h2 {
        font-size: 0.8rem;
        text-transform: uppercase;
      }
      p {
        font-weight: 300;
        font-size: 1.2rem;
      }
    }
  }
  @media(min-width: 992px) {
    max-width: none;
    margin: 0;
    .caption {
      transition: clip-path 0.25s ease-out, background-color 0.7s;
      clip-path: inset(0px);
      .caption-content {
        transition: opacity 0.25s;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
      }
    }
    img {
      transition: clip-path 0.25s ease-out;
      clip-path: inset(-1px);
    }
    &:hover {
      img {
        clip-path: inset(2rem);
      }
      .caption {
        background-color: fade-out($primary, 0.1);
        clip-path: inset(2rem);
      }
    }
  }
}

.hover {
  &:hover {
    cursor: pointer;
  }
}
.hover-none {
  &:hover {
    cursor: unset;
  }
}

//
.icon-user {
  background-color: $gray-600;
  padding: 6px;
  border-radius: 100%;
  font-size: 12px;
}
.data-management {
  &.icon-logout {
    width: 15px;
    height: 15px;
    background-image: url("../img/logout.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    &:before {
      content: '';
    }
  }
}

.bg-secondary {
  background: $secondary !important;
  &.color-default, &.color-default .nav-link {
    color: $black;
    font-weight: 500;
    text-transform: uppercase;
  }
  .navbar-nav {
    li.nav-item {
      padding: 7px 0;
      &.active {
        background: $white;
        margin: 0 -1px;
        border-left: 1px solid $white;
        .nav-link {
          border-right: 1px solid $white;
        }
      }
      .nav-link {
        padding: .25rem 1.5rem !important;
        border-right: 1px solid $border-color;
      }
      &:last-child {
        .nav-link {
          border-right: unset;
        }
      }
      &:hover {
        background: $white;
        margin-left: -1px;
        border-left: 1px solid $white;
        z-index: 2;
        .nav-link {
          border-right: 1px solid $white;
        }
        &:last-child {
          .nav-link {
            border-right: unset;
          }
        }
      }
    }
  }
}

.bg-gray {
  color: $white;
  background: $gray-700;
  a {
    color: $white !important;
  }
}
.bg-light-gray {
  color: $white;
  background: $gray-500;
  a {
    color: $black !important;
  }
}
.bg-light-gray-2 {
  color: $white;
  background: $gray;
  a {
    color: $black !important;
  }
  &:hover {
    background: darken($gray, 10%);
  }
}
.bg-light-gray-3 {
  background: #f2f2f2;
}

.nav-tabs {
  .nav-item {
    margin-right: 5px;
  }
  .nav-link{
    font-weight: 500;
    &.active {
      border-color: $secondary;
      background: $secondary;
    }
  }
  &.border-bottom-secondary {
    border-bottom: 5px solid $secondary;
  }
  &.border-bottom-info {
    border-bottom: 5px solid $info;
  }
}
.nav-tabs.nav-bg-info {
  .nav-link {
    padding: .5rem;
  }
  .nav-link.active {
    border-color: $info;
    background: $info;
    color: $white;
  }
}

.label-right {
  display: flex;
  align-items: center;
}

.label-right {
  label {
    margin-bottom: 0 !important;
    line-height: 1.2;
  }
}


.modal-body.relation, .modal-body.collection {
  .menu-relation {
    position: relative;
    .nav-tabs .nav-link {
      height: 46px;
      line-height: 2;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
  }
  .action {
    position: absolute;
    top: -2px;
    right: 0;
    display: flex;
    align-items: center;
  }
  input.form-control {
    height: 40px;
    width: 220px;
    border-radius: 0;
  }
  .btn-search {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .ql-icon-search {
    margin-top: 2px;
  }
  .search-relation {
    margin-top: -1px;
  }
}

.ql-confirm-pagination.form-check-input:checked {
  background-color: $gray-800;
  border-color: $gray-800;
}

.modal-dialog.modal-add-relation {
  margin-top: 10%;
  .ql-icon-reload {
    background-size: 20px !important;
  }
  .form-select {
    height: 40px;
    margin-left: -5px;
  }
}
.relation, .collection {
  .icon {
    width: 24px;
    height: 24px;
    border-radius: 2px;
  }
}
.relation {
  .label-relation {
    width: 200px;
    background-color: $gray-200;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }
  .ql-multiselect {
    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .select-relation {
    width: calc(100% - 80px);
  }
  .quantity {
    max-width: 80px;
    text-align: center;
  }
}

.table>:not(caption)>*>* {
  border-bottom-width: 0;
}
.ql-table {
  th {
    line-height: 2;
    text-align: center;
  }
  th, tr td {
    min-height: 50px;
    border-right: 1px solid $gray-500;
  }
  .icon {
    width: 24px;
    height: 24px;
    border-radius: 2px;
  }
}


#artifacts {
  .search-relation .form-control {
    width: 20rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }
  .btn-advanced-search, .btn-search {
    height: 40px;
  }
  .btn-search {
    min-width: 120px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

#artifacts-detail {
  .media {
    .title {
      height: 50px;
      line-height: 50px;
      color: $black;
      font-weight: 500;
    }
  }
}

.caption-table {
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  color: $white;
  font-size: 18px;
  font-weight: bold;
}

#advanced-search {
  .btn {
    color: $black;
  }
  .btn-search, .btn-show-all, .btn-hide {
    transition: .3s;
    &:hover {
      color: $white;
      .ql-icon-search, .ql-icon-checked, .ql-icon-close {
        filter: unset;
      }
    }
  }
  .btn-search {
    border: 2px solid $success;
    &:hover {
      background-color: $success;
    }
  }
  .btn-show-all {
    border: 2px solid $info;
    &:hover {
      background-color: $info;
    }
  }
  .btn-hide {
    border: 2px solid $danger;
    &:hover {
      background-color: $danger;
    }
  }
  .ql-icon-search, .ql-icon-checked, .ql-icon-close {
    filter: invert(88%);
  }
}

.content-relation {
  .input-group-text {
    min-width: 11em;
    font-size: 15px;
    font-weight: bold;
    background: transparent;
    border: unset;
  }
  .label-size, .label-size {
    min-width: 14em;
  }
}

#general-information {
  .protection {
    width: calc(100% - 11em);
  }
  .ql-icon-recycle-bin {
    width: 24px;
    height: 22px;
    border-radius: $border-radius;
    &:hover {
      cursor: pointer;
    }
  }
}
