$body-font: 'Inter';
$--font-regular: 400;
$--font-medium: 500;
$--font-bold: 700;

@font-face {
  font-family: $body-font;
  src: url("../fonts/Inter-Regular.ttf");
  font-weight: $--font-regular;
}
@font-face {
  font-family: $body-font;
  src: url("../fonts/Inter-Medium.ttf");
  font-weight: $--font-medium;
}
@font-face {
  font-family: $body-font;
  src: url("../fonts/Inter-SemiBold.ttf");
  font-weight: $--font-bold;
}

body {
  font-family: $body-font, sans-serif !important;
  color: $black;
  font-size: 15px;
  font-weight: $--font-regular;
  background: url("../img/background.png") no-repeat 50% 50%;
  background-size: 100%;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-break {
  word-wrap: break-word !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-limit {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  max-width: 99%;
}

$--font-2xs: 12px;
$--font-xs: 14px;
$--font-s: 15px;
$--font-m: 16px;
$--font-l: 18px;
$--font-xl: 20px;
$--font-2xl: 24px;
$--font-3xl: 28px;


$fonts-size:
  "2xs" $--font-2xs,
  "xs" $--font-xs,
  "s" $--font-s,
  "m" $--font-m,
  "l" $--font-l,
  "xl" $--font-xl,
  "2xl" $--font-xl,
  "3xl" $--font-xl;

@each $name, $size in $fonts-size {
  .text-#{$name} {
    font-size: $size !important;
  }
}

$headings:
  "small" $--font-2xs,
  "p" $--font-xs,
  "h6" $--font-s,
  "h5" $--font-m,
  "h4" $--font-l,
  "h3" $--font-xl ,
  "h2" $--font-2xl ,
  "h1" $--font-3xl;

@each $name, $size, $height in $headings {
  #{$name} {
    font-size: $size !important;
    margin: 0;
    padding: 0;
  }
}

$fonts-weight:
  "regular" $--font-regular,
  "medium" $--font-medium,
  "bold" $--font-bold;

@each $name, $weight in $fonts-weight {
  .text-#{$name} {
    font-weight: $weight !important;
  }
}
