@media (min-width: 576px) {
  .modal-dialog {
    max-width: 568px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    max-width: 80%;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 90%;
  }
}

@media (max-width: 1366px) {
  .bg-secondary .navbar-collapse .navbar-nav li.nav-item .nav-link {
     padding: 0.25rem .85rem!important;
   }
  .navbar .container, .container {
    min-width: 95%;
  }
  .nav-tabs .nav-link {
    padding: 5px 10px !important;
  }
  .modal-body {
    &.collection .search-relation .form-control{
      width: 7rem;
    }
    .table>:not(caption)>*>* {
      padding: .5rem .25rem;
    }
  }
  .modal-body.relation, .modal-body.collection {
    .menu-relation {
      input.form-control {
        max-width: 200px;
      }
    }
  }
}

@media (min-width: 1367px) {
  .navbar .container {
    min-width: 95%;
  }
}
